@import "minima";

// Light mode (default styles)
body {
  background-color: white;
  color: black;
}

// Dark mode using media query
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #eee;
  }

  a {
    color: #8ab4f8;
  }

  // Adjust other elements as needed
  header, footer {
    background-color: #222;
  }
}
